.gridContainer {
  overflow: auto;
  user-select: none;
  -webkit-user-select: none;
  -ms-overflow-style: none;
  scrollbar-width: none;

  --default-grid-bg: var(--app-background);
}

.gridContainer::-webkit-scrollbar {
  display: none;
}

.headerContainer {
  position: sticky;
  top: 0;
  display: flex;
  background-color: var(--grid-bg, var(--default-grid-bg));
  z-index: 1; /* Above virtualContainer */
  box-shadow: 0px 1px 5px var(--grid-bg, var(--default-grid-bg));
}
.virtualContainer {
  z-index: 0; /* Below headerContainer */
}

.itemContainer {
  width: 100%;
  display: flex;
  background-color: var(--grid-bg, var(--default-grid-bg));
}

.cellAuto {
  flex: 1 1 1%;
  width: 0px; /* Allows for flex items to not overflow without having overflow: hidden */
  display: flex;
  position: relative;
  align-items: center;
}
.cellFixed {
  flex: 0 0 1%;
  width: 0px;
  display: flex;
  position: relative;
  align-items: center;
}

.resizer {
  cursor: col-resize;
  position: absolute;
  right: 0;
  top: 3px;
  bottom: 3px;
  width: 3px;
  border-left: 1px solid white;
}
