:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  --app-foreground: #f6f6f6;
  --app-background: #2f2f2f;

  color: var(--app-foreground);
  background-color: var(--app-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  margin: 0;
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 100vh;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #24c8db;
}
